.screen-header__icon span {
  position: relative;
}
.screen-header__point {
  background-color: var(--yellow);
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  top: 40px;
  right: 20px;
}
